In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
train_df = pd.read_csv('data_cred_train.csv')

In [3]:
train_df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [4]:
train_df.shape

(100514, 19)

In [5]:
train_df.describe().round(3)

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
count,1.000000e+05,80846.000,8.084600e+04,100000.000,100000.000,46859.000,100000.000,100000.000,1.000000e+05,9.999800e+04,99796.000,99990.000
mean,1.176045e+07,1076.456,1.378277e+06,18472.412,18.199,34.901,11.129,0.168,2.946374e+05,7.607984e+05,0.118,0.029
std,3.178394e+07,1475.404,1.081360e+06,12174.993,7.015,21.998,5.010,0.483,3.761709e+05,8.384503e+06,0.351,0.258
min,1.080200e+04,585.000,7.662700e+04,0.000,3.600,0.000,0.000,0.000,0.000000e+00,0.000000e+00,0.000,0.000
25%,1.796520e+05,705.000,8.488440e+05,10214.162,13.500,16.000,8.000,0.000,1.126700e+05,2.734380e+05,0.000,0.000
50%,3.122460e+05,724.000,1.174162e+06,16220.300,16.900,32.000,10.000,0.000,2.098170e+05,4.678740e+05,0.000,0.000
75%,5.249420e+05,741.000,1.650663e+06,24012.058,21.700,51.000,14.000,0.000,3.679588e+05,7.829580e+05,0.000,0.000
max,1.000000e+08,7510.000,1.655574e+08,435843.280,70.500,176.000,76.000,15.000,3.287897e+07,1.539738e+09,7.000,15.000

In [6]:
for i in train_df.columns:
    prc = np.mean(train_df[i].isnull())
    print(i, '- %.2f'%(prc * 100), 'perc', sep=' ')

Loan ID - 0.51 perc
Customer ID - 0.51 perc
Loan Status - 0.51 perc
Current Loan Amount - 0.51 perc
Term - 0.51 perc
Credit Score - 19.57 perc
Annual Income - 19.57 perc
Years in current job - 4.71 perc
Home Ownership - 0.51 perc
Purpose - 0.51 perc
Monthly Debt - 0.51 perc
Years of Credit History - 0.51 perc
Months since last delinquent - 53.38 perc
Number of Open Accounts - 0.51 perc
Number of Credit Problems - 0.51 perc
Current Credit Balance - 0.51 perc
Maximum Open Credit - 0.51 perc
Bankruptcies - 0.71 perc
Tax Liens - 0.52 perc

In [7]:
#Удалим строки, не содержащие никакую информацию
train_df = train_df.dropna(how='all')

In [8]:
train_df['Credit Score'].describe().round(3)

count    80846.000
mean      1076.456
std       1475.404
min        585.000
25%        705.000
50%        724.000
75%        741.000
max       7510.000
Name: Credit Score, dtype: float64

In [9]:
pd.qcut(train_df['Credit Score'],8).value_counts()

(733.0, 741.0]      11439
(716.0, 724.0]      10608
(584.999, 686.0]    10344
(705.0, 716.0]      10220
(686.0, 705.0]      10146
(741.0, 747.0]       9942
(724.0, 733.0]       9214
(747.0, 7510.0]      8933
Name: Credit Score, dtype: int64

In [10]:
#Избавимся от строк-выбросов в значениях кредитного рейтинга
train_df = train_df.drop(train_df[train_df['Credit Score'] > 1000].index)
pd.qcut(train_df['Credit Score'],8).value_counts()

(684.0, 704.0]      10157
(731.0, 739.0]      10118
(722.0, 731.0]      10000
(704.0, 715.0]       9886
(739.0, 745.0]       9853
(584.999, 684.0]     9606
(715.0, 722.0]       8726
(745.0, 751.0]       7949
Name: Credit Score, dtype: int64

In [11]:
train_df.shape

(95449, 19)

In [12]:
train_df['Credit Score'].isna().sum()

19154

In [13]:
train_df = train_df[train_df['Credit Score'].notna()]

In [14]:
train_df['Credit Score'].describe().round(3)

count    76295.000
mean       716.615
std         28.117
min        585.000
25%        704.000
50%        722.000
75%        739.000
max        751.000
Name: Credit Score, dtype: float64

In [15]:
pd.qcut(train_df['Credit Score'],8).value_counts()

(684.0, 704.0]      10157
(731.0, 739.0]      10118
(722.0, 731.0]      10000
(704.0, 715.0]       9886
(739.0, 745.0]       9853
(584.999, 684.0]     9606
(715.0, 722.0]       8726
(745.0, 751.0]       7949
Name: Credit Score, dtype: int64

In [16]:
train_df['Credit Allowed'] = 1
train_df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Credit Allowed
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0,1
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0,1
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0,1
6,273581de-85d8-4332-81a5-19b04ce68666,90a75dde-34d5-419c-90dc-1e58b04b3e35,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,10855.08,19.6,10.0,13.0,1.0,122170.0,272052.0,1.0,0.0,1
8,8af915d9-9e91-44a0-b5a2-564a45c12089,af534dea-d27e-4fd6-9de8-efaa52a78ec0,Fully Paid,548746.0,Short Term,678.0,2559110.0,2 years,Rent,Debt Consolidation,18660.28,22.6,33.0,4.0,0.0,437171.0,555038.0,0.0,0.0,1

In [17]:
train_df['Chances Of Payment'] = train_df['Credit Score'] / 1000.0
train_df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,...,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Credit Allowed,Chances Of Payment
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,...,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0,1,0.709
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,...,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0,1,0.741
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,...,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0,1,0.721
6,273581de-85d8-4332-81a5-19b04ce68666,90a75dde-34d5-419c-90dc-1e58b04b3e35,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,...,19.6,10.0,13.0,1.0,122170.0,272052.0,1.0,0.0,1,0.730
8,8af915d9-9e91-44a0-b5a2-564a45c12089,af534dea-d27e-4fd6-9de8-efaa52a78ec0,Fully Paid,548746.0,Short Term,678.0,2559110.0,2 years,Rent,Debt Consolidation,...,22.6,33.0,4.0,0.0,437171.0,555038.0,0.0,0.0,1,0.678